.stars-uploader-dragger {
  background: $gray-100;
  border: 1px dashed $gray-300;
  border-radius: 4px;
  cursor: pointer;
  width: 360px;
  height: 180px;
  padding: 20px;
  text-align: center;
  &:hover {
    border: 1px dashed $primary;
  }
  &.is-dragOver {
    border: 2px dashed $primary;
    background: rgba($primary, 0.2);
  }
}
